{
	"env": {
		"node": true,
		"mocha": true,
		"es2020": true
	},
	"extends": "eslint:recommended",
	"globals": {
		"Atomics": "readonly",
		"SharedArrayBuffer": "readonly"
	},
	"parser": "babel-eslint",
	"ecmaFeatures": {
		"classes": true
	},
	"parserOptions": {
		"ecmaVersion": 2020
	},
	"plugins": ["node"],
	"rules": {
		"indent": [
			"warn",
			"tab",
			{
				"SwitchCase": 1
			}
		],
		"dot-location": ["warn", "property"],
		"dot-notation": "warn",
		"no-invalid-this": "warn",
		"no-whitespace-before-property": "warn",
		"quotes": ["warn", "single", { "allowTemplateLiterals": true }],
		"semi": ["warn", "never"],
		"no-confusing-arrow": "warn",
		"no-var": "warn",
		"no-unused-vars": "warn",
		"arrow-spacing": "warn",
		"no-debugger": "off",
		"curly": ["warn", "multi-or-nest", "consistent"],
		"yoda": "warn",
		"no-shadow": "warn",
		"brace-style": ["warn", "1tbs", { "allowSingleLine": true }],
		"camelcase": "warn",
		"key-spacing": "warn",
		"prefer-arrow-callback": "warn",
		"prefer-spread": "warn",
		"prefer-template": "warn",
		"no-new-require": "error",
		"node/exports-style": ["error", "module.exports"],
		"node/prefer-promises/fs": ["warn"]
	}
}
